body {
  width: 100%; }

/**********************************************************************/
@media only screen and (max-width: 480px) {
  #welcome {
    display: none; }

  section.intropage {
    background: url() no-repeat; } }
@media only screen and (max-width: 800px) {
  #panel {
    display: none; }

  section.intropage {
    background: url() no-repeat; }

  section.intropage h1 {
    text-shadow: 0px 0px 9px black; }

  section.intropage p {
    text-shadow: 0px 0px 9px black; } }
/********************** LINKS *****************************************/
/* unvisited link */
a:link {
  color: #fff;
  text-decoration: none; }

/* visited link */
a:visited {
  color: #fff; }

/* mouse over link */
a:hover {
  color: #fff; }

/* selected link */
a:active {
  color: #fff; }

/**********************************************************************/
header {
  position: fixed;
  width: 100%;
  margin: -10px 0px 0px -10px;
  z-index: 1;
  height: 71px;
  background-color: #3D7378; }

header nav {
  float: right; }

header nav .menu-item {
  float: left;
  margin: 0 10px;
  letter-spacing: 2px;
  font-size: 11px;
  font-family: sans-serif;
  line-height: 50px; }

header nav li {
  display: inline; }

header nav .menu-item:hover {
  border-bottom: 1px solid #fff; }

header nav .menu-item a {
  color: #fff;
  text-decoration: none; }

/********************************INTRO*********************************/
section.intropage {
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 7%;
  margin: -10px 0px 0px -10px;
  background-image: url("../images/bxscinew.jpg");
  background-color: #5DB0B8; }

section.intropage h1 {
  padding-left: 5%;
  margin-right: 3%;
  margin-top: 2px;
  line-height: 0.8;
  font-family: 'Muli', sans-serif;
  font-size: 72px;
  color: white;
  font-weight: 100; 
  }

section.intropage p {
  font-family: 'Muli';
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -50px;
  line-height: 0.8;
  font-size: 18px;
  font-weight: 300;
  color: white;
   }

  .nad-face {
    width: 20%;
    height: 20%;
    float: right;
    padding-top: 0;
    padding-right: 10%;
    padding-bottom: 0%;
  }

/*****************************************************/
section.aboutpage {
  background-color: #f6f6f6;
  padding-top: 15%;
  padding-bottom: 40%;
  padding-left: 10%;
  padding-right: 5%;
  margin-left: -1%; }

section.aboutpage .members {
  float: left; }

section.aboutpage .studentbody {
  float: right; }

section.aboutpage img {
  height: 50%;
  width: 50%; }

section.aboutpage h1 {
  text-align: center;
  margin-top: -110px;
  margin-left: -10%;
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: black; }

section.aboutpage h2 {
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 100;
  color: #8C8C8C; }

section.aboutpage ul {
  color: #8C8C8C;
  font-family: 'Muli';
  font-weight: 300;
  font-size: 19px;
  line-height: 2;
  float: right; }

/****************************************************************************************/
section.requirepage {
  padding-top: 15%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 5%;
  margin-left: -1%; }

section.requirepage h1 {
  text-align: center;
  margin-top: -110px;
  margin-left: -10%;
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: black; }

section.requirepage h2 {
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 100;
  color: #8C8C8C; }

section.requirepage table {
  color: #7cc3a3;
  font-family: 'Muli';
  font-weight: 300;
  font-size: 50px;
  line-height: 2; }

/********************************************************************************************/
section.getstarted {
  background-color: #7cc3a3;
  padding-top: 15%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 5%;
  margin-left: -1%; }

section.getstarted h1 {
  text-align: center;
  margin-top: -110px;
  margin-left: -10%;
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: black; }

section.getstarted a {
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 100;
  color: white;
  border: 2px solid white;
  padding: 2.5%; }

/********************************************************************************************/
section.contactus {
  background-color: #6DAB8F;
  padding-top: 15%;
  padding-bottom: 30%;
  padding-left: 10%;
  padding-right: 5%;
  margin-left: -1%; }

section.contactus h1 {
  text-align: left;
  margin-top: -110px;
  margin-left: -10%;
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: black; }

section.contactus h2 {
  font-family: 'Muli', sans-serif;
  font-size: 42px;
  font-weight: 100;
  color: white; }

section.contactus img {
  position: absolute; }
